*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    font-family: 'Montserrat', sans-serif;
    background-color: rgb(233, 233, 233);
}

.wrapper {
    width: 800px;
    background-color: #fff;
    box-shadow: 0 0 10px #000;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    height: 360px;
    padding: 20px 40px;
    font-family: 'Dancing Script', cursive;
    background-image: url('../img/pizza-3007395_960_720.jpg');
    background-size: cover;
    z-index: 0;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .35);
    z-index: -1;
}

.header-title {
    margin-bottom: 30px;
    color: #fff;
    font-size: 5rem;
}

.search {
    padding: 10px 20px;
    margin-bottom: 40px;
    width: 100%;
    font-size: 1.6rem;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, .85);
}

.pizza-list {
    padding: 20px 40px;
}

.list-title {
    padding: 30px 0;
    font-size: 2.4rem;
}

.list-structure {
    padding-bottom: 30px;
    font-size: 1.8rem;
    list-style: none;
}

.list-item {
    padding: 8px 30px;
    border-bottom: 1px solid rgb(226, 226, 226);
    font-weight: bold;
}

.list-item:last-child {
    border-bottom: 0;
}

.list-details {
    font-weight: normal;
}